Package: hello
Version: 1.0-0
Architecture: amd64
Maintainer: Kirubakaran Shanmugam <kribakarans@gmail.com>
Installed-Size: 37
Depends: libc6 (>= 2.2.5)
Section: devel
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/kribakarans/howto-build-linux-package/tree/master/dpkg/hello-dev/hello
Description: Hello world program
 CLI application to test debian package
