[Desktop Entry]
Name=Hello
Comment=Hello word program
Exec=/usr/bin/hello-gtk
Icon=/usr/share/pixmaps/hellogtk.png
Type=Application
Categories=Application;
StartupNotify=true
