Source: hello-atom
Section: devel
Priority: optional
Maintainer: Kirubakaran Shanmugam <kribakarans@gmail.com>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: https://github.com/kribakarans/howto-build-linux-package/tree/master/dpkg/hello-dev/hello

Package: hello-atom
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Hello world program
 CLI application to test debian package
